<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/styles.css" />

		<!-- Add icon font -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/material-icons@1.13.14/iconfont/material-icons.min.css"
		/>

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<p>Default, make sure to use the content block</p>
		{% endblock %}
	</body>
</html>
