{% extends "./base.html" %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	<main class="container centered-container">
		<form action="" method="POST">
			<label for="username">Username</label>
			<input
				type="text"
				id="username"
				name="username"
				aria-label="Username"
				aria-describedby="form-helper"
				required
				{% if display_error_message %}
					aria-invalid="true"
				{% endif %}
			/>

			<label for="password">Password</label>
			<input
				type="password"
				id="password"
				name="password"
				aria-label="Password"
				aria-describedby="form-helper"
				required
				{% if display_error_message %}
					aria-invalid="true"
				{% endif %}
			/>

			{% if display_error_message %}
				<p
					id="form-helper"
					style="color: var(--pico-form-element-invalid-border-color);"
				>
					Something went wrong while trying to log in!
				</p>
			{% endif %}

			<input type="submit" value="Login" />
		</form>
	</main>
{% endblock %}
